body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 50vh;
  width: 100%;
  position: relative;
}
#cy-container{
  text-align: left;
}

#img_container>img{
  max-height: 300px;
}

.container{
  max-width: 90%;
}

.col{
  text-align: center;
}

.row{
  margin-top: 5px;
  margin-bottom: 5px;
}

pre {
  font-family: Consolas,"courier new", monospace;
  color: greenyellow;
  background-color: black;
  padding: 2px;
  display: block;
  width: 100%;
}

#story_code{
  overflow: hidden;
}

.toast-container{
  top: 2px;
  right: 2px;
}